<h3 class="text-center">Add Inventory</h3>

<form [formGroup]="form" (ngSubmit)="SaveInventory()">
  <div class="row">
    <div  class="form-group col-sm-6">
    <label for="name">Name</label>
    <!-- <input formControlName="ItemId" id="itemId" type="number" hidden class="form-control"> -->
    <input formControlName="Name" id="name" type="text" class="form-control">
  </div>
    <div class="form-group  col-sm-6">
    <label for="description">Description</label>
    <input formControlName= "Description" id="description" type="text" class="form-control">
  </div>
  </div>
  <div class="row">
    <div class="form-group  col-sm-6">
    <label for="price">Price</label>
    <input formControlName="Price" id="price" type="text" class="form-control">
  </div>
  <div class="form-group col-sm-6">
    <label for="image">Upload Image</label>
    <input formControlName="ImageUrl" accept="image/jpg,image/png,image/jpeg" id="imageUrl" name="file" type="file" (change)="UploadFile($event)" class="form-control">
  </div>
  </div>
  <button class="btn btn-primary float-right" style="margin-bottom: 20px;">Save</button>
 </form>


<p *ngIf="!inventories"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="inventories">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inventory of inventories">
      <td  [routerLink]="['/fetch-data',inventory.ItemId]"><img style="widows: 40px;height: 40px;" src="./assets/Uploads/{{inventory.ImageUrl}}"></td>
      <td  [routerLink]="['/fetch-data',inventory.ItemId]">{{ inventory.Name }}</td>
      <td  [routerLink]="['/fetch-data',inventory.ItemId]">{{ inventory.Description }}</td>
      <td  [routerLink]="['/fetch-data',inventory.ItemId]">{{ inventory.Price }}</td>
    <td><button type="text" class="btn btn-primary" (click)="deleteInventory(inventory.ItemId)">Delete</button></td>
    </tr>
  </tbody>
</table>
