<form [formGroup]="form" (ngSubmit)="UpdateInventory()">
 
  <div class="row">
    <div class="col-md-3  ">
  <div class="form-group col-sm-6">
    
    <img src="./../assets/Uploads/{{ImageUrl}}" style="width: 200px; height: 200px;"
   class="form-control">
   </div>
  </div>
  <div class="col-md-9">
    <div  class="form-group col-sm-12">
    <label for="name">Name</label>
   
    <input formControlName="Name" id="name" name="Name" type="text" class="form-control">
  </div>
    <div class="form-group  col-sm-12">
    <label for="description">Description</label>
    <input formControlName= "Description" name="Description" id="description" type="text" class="form-control">
  </div>
 
  
    <div class="form-group  col-sm-12">
    <label for="price">Price</label>
    <input formControlName="Price" id="price" name="Price" type="number" class="form-control">
  </div>
</div>
</div>
  
  <button class="btn btn-primary float-right" style="margin-bottom: 20px;">Update</button>
 </form>